<div class="page-header">
  <%= link_to projects_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New project</h1>
</div> 
<%= render 'form' %> 

<% content_for :javascript_in_body do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      $("#new_project").click(function() {
        $("myModal").modal();
      })
    });
  <% end %>
<% end %>