<div class="page-header">
  <%= link_to user_management_index_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to user_management_path(@user.id), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing User</h1>
</div>

<%= render 'form', user: @user, path: user_management_path, method: :patch %>