<div class="page-header">
  <%= link_to user_management_index_path, class: 'btn btn-default' do %> 
  <span class="glyphicon glyphicon-list-alt"></span>
  Back
  <% end %>
  <h1>Add user</h1> 
</div>

<%= render 'form', path: user_management_index_path, method: :post %>